<nav class="menu u-color-black">
    <section class="menu__button">
        <article class="menu__button-line menu__button-line--black"></article>
        <article class="menu__button-line menu__button-line--black"></article>
        <article class="menu__button-line menu__button-line--black"></article>
    </section>

    <ul class="menu__nav">
        <li class="menu__nav-item"><a href="/">home</a></li>
        <li class="menu__nav-item"><a href="/about">sobre mim</a></li>
        <li class="menu__nav-item"><a href="/blog">blog</a></li>
        <li class="menu__nav-item"><a href="/portfolio">portfólio</a></li>
        <li class="menu__nav-item"><a href="/creative">creative lab</a></li>
    </ul>
</nav>

