.u-close {
    animation-name: default-fadeout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
    opacity: 1;
}

.u-color-black {
    color: $primary-color;
}
.u-color-white {
    color: $quinary-color;
}