$primary-color: #000; //black
$secondary-color: #111; //dark gray
$tertiary-color: #9a9a9a; // gray
$quaternary-color: #eeeeee; // light gray
$quinary-color: #fff; //white

$default-font-size: 1.6rem;