---
layout: default
---

<section class="container">
    <section class="container__view">
        {% include header.html %}
        {% include nav.html %}
        
        <section class="content-box">
            <section class="card">
                <p class="card__text"><strong>Creative Lab</strong> é um lugar onde você encontrará projetos experimentais e testes em que estou trabalhando.<br>Divirta-se!</p>
                <img class="card__image" src="/assets/img/labs.png" alt="Utensilios de laboratório vetorizados" title="Icon vector created by rawpixel.com - www.freepik.com">
            </section>
            <section class="content-box__slider"></section>
        </section>

        <section class="color-box color-box--primary-color color-box--page"></section>

    </section>
</section>

{% include labs-scripts.html %}

